# =========================
# Node
# =========================
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
yarn.lock
pnpm-lock.yaml

# =========================
# Build output
# =========================
dist/
build/
.tmp/
out/

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Runtime data
# =========================
pids/
*.pid
*.seed
*.pid.lock

# =========================
# Coverage
# =========================
coverage/
.nyc_output/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# TypeScript
# =========================
*.tsbuildinfo

# =========================
# Nest CLI
# =========================
.nestcli.json

# =========================
# IDEs
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Docker (optional)
# =========================
docker-compose.override.yml

# =========================
# Misc
# =========================
*.tgz